<nav class="navbar navbar-expand-lg bg-body-subtle border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">
      <%= image_tag("logo.png", class: "img-fluid", style:"width: 80px; height: 60px") %>
    </a>

    <div class="d-flex align-items-center gap-4">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 flex-row gap-4">
        <li class="nav-item">
          <%= link_to "Meus Items", root_path, class: "nav-link #{'active' if current_page?(root_path)}" %>
        </li>
        <li class="nav-item">
          <%= link_to "Lista de Compras", grocery_list_path, class: "nav-link #{'active' if current_page?(grocery_list_path)}" %>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Conexão Alexa</a>
        </li>
      </ul>

      <div class="d-flex align-items-center gap-4">
        <button class="btn btn-outline-secondary border-0" id="darkModeToggle">
          <i class="fas fa-moon"></i>
        </button>
        <a class="nav-link position-relative" href="#" id="notificationButton">
          <i class="fas fa-bell"></i>
        </a>
        <div class="dropdown">
          <a class="dropdown-toggle d-flex align-items-center hidden-arrow gap-2 text-decoration-none" href="#" id="navbarDropdownMenuAvatar" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="text-body text-decoration-none" style="cursor: pointer; transition: color 0.2s"><%= current_user&.email %></span>
            <img src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp" class="rounded-circle" height="25" alt="Avatar" loading="lazy"/>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
            <li><a class="dropdown-item" href="#">Meu Perfil</a></li>
            <li><a class="dropdown-item" href="#">Configurações</a></li>
            <li><hr class="dropdown-divider"></li>
            <li>
              <%= button_to "Sair", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</nav>
